.container{
    height: 87.9vh;
    width: 59.4%;
    padding: 2px;
    border : 1px solid #111; 
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}
.container  iframe{
    width: 100%;
    height: 100%;  
    border: none;
}

