.container{
    height: 87.9vh;
    width: 59.3%;
    padding: 2px;
    border : 1px solid #111; 
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}
.container::-webkit-scrollbar{
    width: 30px;
}
.container::-webkit-scrollbar-thumb{
    background-color:#2cbade ;
}
.ZAID{
background-color:red;
}

.MHS{
background-color:red;
display:block;
display:block;
}

.MHS{
background-color:red;
display:block;
}
