.container{
    border: 1px solid black;
    width: 40%;
    height: 20vh;
    overflow: hidden;
}
.text{
    border: 1px solid black;
    width: fit-content;
    min-width: 15%;
    height: fit-content;
    min-height: 3%;
    padding: 8px;
}
.link{
    border: 1px solid black;
    padding: 8px;
    width: 20vh;
    height: 20%;
}
.media{
    border: 1px solid black;
    width: fit-content;
    min-width: 20%;
    height: fit-content;
    min-height: 20%;
}
.button{
    border: 1px solid black;
    width: 7%;
    height: 5%;
}
