*{
    margin: 0;
    padding: 0;
}
body{
    color: black;
    display: flex;
    justify-content: center;
  
}
.UpDown{
    margin-top: 45%;
    padding-top: 15px;
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}
.Up img{
    width: 180px;
}
.UpDown .Up{
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.UpDown .Down{
    display: flex;
    justify-content: center;
}