*{
  margin: 0;
  padding: 0;
}
nav{
  background-Color : #24252A;
  display : flex;
  justify-Content :space-between;
  height : 7.3vh;
  width: 100%;
}
.pages{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;

}
.pages ul{
  display : flex;
  justify-Content :space-between;
  width : 370px;
  margin-Right : 25px;
  list-Style : none;
  font-Family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  text-Decoration : none;
 
}
.pages ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.pages ul li a img{
  width: 23.5px;
  margin-right: 8px;

}

.pages ul li a svg{
  width: 50px;
  margin-right: -8px;

}
.pages > img{
  cursor: pointer;
  width: 25px;
  border-radius: 8px;
  margin-right: 8px;
}
.pages > p{
  cursor: pointer;
  color: white;
}
.pages > svg{
  cursor: pointer;
  color: white;
  margin-bottom: -4px;
}
.pages ul li a:hover{
  transform: scale(1.03);
  color: #1899D6;
}
.account{
  background-color: transparent;
  font-Family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  text-Decoration : none;
  border: none;
}
.account a{
 
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.account svg{
  margin-right: 7px;
}
.account a:hover{
  transform: scale(1.07);
  color: #1899D6;
}
.logo {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 15px;
  color: white;
  display: flex;
  align-items: center;
}
.logo > h1{
  margin-right: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  font-weight: bolder;
}
.logo > img{
 
  border-radius: 5px;
  width: 37px;
  margin-right: 10px;
}

.button-log {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 8px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 5px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 120px;
  height: 30px;
}

.button-log:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-log:main,
.button-log:focus {
  user-select: auto;
}

.button-log:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-log:disabled {
  cursor: auto;
}
.button-log > a{
  text-decoration: none;
  color: white;
}
.opt{
  text-align: center;
  width: 200px;
  position: absolute;
  right: 0px;
  top: 55px;

  border-bottom-left-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.opt ul li{
  font-Family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 5px 8px 5px;
}
.opt ul li:hover{
  background-color: azure;
}
.opt ul li svg{
  margin-right: 5px;
}
.Accountpop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  backdrop-filter: blur(2px);
  width: 100%;
}
.Accountpop section{
  text-align: center;
  width: 350px;
  padding: 5px 5px 30px 5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Accountpop section > svg{
  position: absolute;
  right: 39%;
  cursor: pointer;
}
.Accountpop section div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Accountpop section div img{
  border-radius: 8px;
  margin-top: 18%;
  margin-bottom: 10px;
  width: 100px;
}
.Accountpop section div p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  margin-top: -7px;
  padding: 0px 3px 0px 3px;
  background-color: white;
}
.Accountpop section div input{
  margin-top: 10%;
  width: 300px;
  height: 30px;
  text-align: center;

}
.Accountpop section div button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 8%;
  height: 35px;
  background-color: lightcoral;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
.Accountpop section div button:hover{
  background-color: rgb(238, 145, 145);

  transform: scale(1.02);
}