.container{
    border : 1px solid #899499;
    height: 88vh;
    width: 20%;
    border-radius: 5px;
    
}
.container > .pages > div >img{
    width: 38px;
    margin-right: 8px;
}
.pages div:hover{
   background-color: #05acd6;
   color: white;
   cursor: pointer;
}

.title{
    text-align: center;
    border-bottom: 1px solid #899499;
    background-color: #eee;
}

.header{
    height: 20vh;
    border-bottom: 1px solid #899499;
   display: flex;
   justify-content: center;
   align-items: center;
}

.body{
    height: 45vh;
    border-bottom: 1px solid #899499;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 20vh;
    border-bottom: 1px solid #899499;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tools{
    padding: 5px;
}

.tool{
    width: 10%;
    height: 2vh;
    border: 1px solid black;
    margin : 10px;
}

.tools  button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.tools > button > img{
    width: 30px;
    margin-bottom: 15px;
}

.items{
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
   
    
}
.items img{
    width: 30px;
    cursor: pointer;
}
.ctnr{
    border: none;
}
.tools > section {
    margin-bottom: 20px;
}
.tools > section button img{
    width: 18px;
}
.tools > section > button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 8px;
    width: 100%;
    background-color:#05acd6;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}


