*{
    margin: 0;
    padding: 0;
}
.ctrn{
    width: 200vh;
    height: 88.6vh;
}

.containerr{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 99.9%;
    height: 86.5%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.main:hover{
    transform: scale(1.01);
}
.main {
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: block;
    text-align: center;
    width: 230px;
    height: 129px;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
.main .down{
    opacity: 90%;
    width: 220px;
    height: 52px;
    position: sticky;
    background-color: white;
    margin-top: -65px;
    padding: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.tools{
    margin-top: 6px;
    display: flex;
    align-items:center;
    justify-content: right;
}
.down .tools svg{
    margin-right: 10px;
    cursor: pointer;
}
.down .tools svg:hover{
   color: #2cbade;
}
.main > img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 230px;
}
.m1{
    padding-top:22px ;
    padding-left:22px ;
    box-shadow: #2cbade 0px 0px 0px 1px, #2cbade 0px 0px 0px 1px inset;
    width: 510px;
    height: 625px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior:initial;
}
.m1::-webkit-scrollbar{
    width: 7px;
}
.m1::-webkit-scrollbar-thumb{
    background-color:#2cbade ;
}
.m2{
    width: 860px;
    height: 644px;
}
.m2 iframe{
    border-radius: 8px;
    width: 860px;
    height: 644px;
    border: none;
    box-shadow: #2cbade 0px 0px 0px 3px;
}